
{% extends "musicsite/base.html" %}



{% block content %}



<div class="card" style="width: 18rem;">
    {% for artist in artists%}
    <img class="card-img-top" src="{{ artist.detail_picture.url }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Artist: {{artist.artist_name }}</h5>
      <h4 class="card-text">Genre: {{ artist.artist_genre }}</h4>
      <h4 class="card-text">Email: {{ artist.artist_email }}</h4>
      <h4 class="card-text">Location: {{ artist.artist_location }}</h4>
      <h4 class="card-text">Social Network: {{ artist.artist_social }}</h4>
      <h4 class="card-text">Company: {{ artist.detail_company }}</h4>
      <h4 class="card-text">Membership: {{ artist.detail_membership }}</h4>
      <h4 class="card-text">About ME: {{ artist.artist_bio }}</h4>
      <a href="{{ artist.artist_website }}" class="btn btn-primary">Artist Website</a>
    </div>
    {% endfor %}
  </div>


  {% endblock content %}