{% extends 'musicsite/base.html' %}


{% load crispy_forms_tags %}
{% block content %}

<div class="content-section">
    <div class="media">
        <img src="{{ user.profile.image.url }}" style="width:100px;">
        <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
        </div>
    </div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile Info </legend>
            {{ user_form|crispy }}
            {{ profile_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">
                Update
            </button>
        </div>
    </form>
</div>


<div class="card" style="width: 18rem;">
     {% for artist in artists%}
    <img class="card-img-top" src="{{ artist.detail_picture.url }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Artist: {{artist.Artist_Files.artist_name }}</h5>
      <h4 class="card-text">Genre: {{ artist.artist_genre }}</h4>
      <h4 class="card-text">Email: {{ artist.artist_email }}</h4>
      <h4 class="card-text">Location: {{ artist.artist_location }}</h4>
      <h4 class="card-text">Social Network: {{ artist.artist_social }}</h4>
      <h4 class="card-text">Company: {{ artist.detail_company }}</h4>
      <h4 class="card-text">Membership: {{ artist.detail_membership }}</h4>
      <h4 class="card-text">About ME: {{ artist.artist_bio }}</h4>
      <a href="{{ artist.artist_website }}" class="btn btn-primary">Artist Website</a>
    </div>
    {% endfor %}
  </div>  


{% endblock content %} 