{% extends "musicsite/base.html" %}

{% block content %}
 



<h2>Artist <button><a href="{% url 'artist_create' %}"> Add artist </a></button></h2>

<ul>
    {% for artist in artists %}
        <ul>
            <a href="{% url 'artist_detail' pk=artist.pk %}">{{artist.artist_name}}</a>
        
        </ul>
    {% endfor %}
</ul>


{% for artist in artists%}
<tr>
    <td>
        {% if artist.detail_picture %}
        <img src="{{ artist.detail_picture.url }}" alt="{{ artist.artist_name }}" style="width:100px;">
        {% else %}
        <span class='text-muted'>No Picture</span>
        {% endif %}
    </td>
    <h5 class="card-title">Artist: {{artist.artist_name }}</h5>
    <h4 class="card-text">Genre: {{ artist.artist_genre }}</h4>
    <h4 class="card-text">Email: {{ artist.artist_email }}</h4>
    <h4 class="card-text">Location: {{ artist.artist_location }}</h4>
    <h4 class="card-text">Social Network: {{ artist.artist_social }}</h4>
    <h4 class="card-text">About ME: {{ artist.artist_bio }}</h4>
    <a href="{{ artist.artist_website }}" class="btn btn-primary">Artist Website</a>
   
</tr>
{% endfor %}


{% endblock %}