{% extends "musicsite/base.html" %}





{% block content %}
<!-- <h2>{{ artist.artist_name }} <button><a href="{% url 'artist_edit' pk=artist.pk %}">Edit Artist </a></button></h2> -->
<!-- <button><a href="{% url 'artist_delete' pk=artist.pk %}">Delete</a></button> -->
<!-- <h4> Artist Genre: {{ artist.artist_genre }}</h4>
<h3>Email: {{ artist.artist_email }}</h3> -->



<!-- <img src="{{ artist.detail_picture.url }}" alt="" class="player-photo"> -->



<!-- Grid Cards Bootstrap -->

<div class="card" style="width: 18rem;">
    <img src="{{ artist.detail_picture.url }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artist.artist_name }}</h5>
      <p class="card-text"></p>
      <p class="card-text"></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Artist Genre: {{ artist.artist_genre }}</li>
      <li class="list-group-item">Email: {{ artist.artist_email }}</li>
      <li class="list-group-item">Location: {{ artist.artist_location }}</li>
      <li class="list-group-item">Social Network: {{ artist.artist_social }}</li>
      <li class="list-group-item">About ME: {{ artist.artist_bio }}</li>
      <li class="list-group-item">Website: {{ artist.artist_website }}</li>
      
    </ul>
    <div class="card-body">
      <a href="{% url 'artist_edit' pk=artist.pk %}" class="btn btn-primary">Edit Artist</a>
      <a href="{% url 'artist_delete' pk=artist.pk %}" class="btn btn-primary">Delete</a>
    </div>
  </div>


<!-- End Grid Cards  -->









{% endblock %}