{% extends "musicsite/base.html" %}


{% block content %}



<!-- Grid Cards Bootstrap -->

<div class="card" style="width: 18rem;">

  {% if artist.detail_picture %}
      <img src="{{ artist.detail_picture.url }}" alt="{{ artist.artist_name }}" width="100%">
       {% endif %}

   
    <div class="card-body">
      <h5 class="card-title">{{ artist.artist_name }}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Artist Genre: {{ artist.artist_genre }}</li>
      <li class="list-group-item">Email: {{ artist.artist_email }}</li>
      <li class="list-group-item">Location: {{ artist.artist_location }}</li>
      <li class="list-group-item">Social Network: {{ artist.artist_social }}</li>
      <li class="list-group-item">About ME: {{ artist.artist_bio }}</li>
      <li class="list-group-item">Website: {{ artist.artist_website }}</li>
      
    </ul>
    <div class="card-body">
      <a href="{% url 'artist_edit' pk=artist.pk %}" class="btn btn-primary">Edit Artist</a>
      <a href="{% url 'artist_delete' pk=artist.pk %}" class="btn btn-primary">Delete</a>
    </div>
  </div>


<!-- End Grid Cards  -->

{% endblock %}