


{% extends "musicsite/base.html" %}
<!-- {% load static %} -->



<!-- <link rel="stylesheet" href="{% static 'css/main.css' %}" /> -->
{% block content %}





<h1>Artist and Musicians</h1>
<h3>These are the current artist and musicians registered to our site by their respective representatives and companies.
<h3>In order to see contact details on all artist or musician you must be a registered user. </h3>
</h3>






<div class="card-columns">
  {% for artist in artists %}
  <div class="card">
    <img src="{{ artist.detail_picture.url }}" class="card-img-top" alt="#">
    <div class="card-body">
      <h5 class="card-title">Artist: {{artist.artist_name }}</h5>
      <h4 class="card-text">Genre: {{ artist.artist_genre }}</h4>
      <h4 class="card-text">Location: {{ artist.artist_location }}</h4>
      
    </div>
  </div>

  {% endfor %}
</div>






{% endblock content %}