{% extends "musicsite/base.html" %}



{% block content %}




<h1>Music Home Site</h1>




<div class="card-columns">
  {% for artist in artists %}
  <div class="card">
    
    {% if artist.detail_picture %}
      <img src="{{ artist.detail_picture.url }}" alt="{{ artist.artist_name }}" width="100%">
       {% endif %}

    <div class="card-body">
      <h5 class="card-title"><span>Artist:</span>{{artist.artist_name }}</h5>
      <h4 class="card-text"><span>Genre:</span> {{ artist.artist_genre }}</h4>
      <h4 class="card-text"><span>Email:</span> {{ artist.artist_email }}</h4>
      <h4 class="card-text"><span>Location:</span> {{ artist.artist_location }}</h4>
      <h4 class="card-text"><span>Social Network:</span> {{ artist.artist_social }}</h4>
      <h4 class="card-text"><span>Company:</span> {{ artist.detail_company }}</h4>
      <h4 class="card-text"><span>Membership:</span> {{ artist.detail_membership }}</h4>
      <h4 class="card-text"><span>About ME:</span> {{ artist.artist_bio }}</h4>
      <a href="{{ artist.artist_website }}" class="btn btn-danger">Artist Website</a>
    </div>
  </div>
  {% endfor %}
</div>





{% endblock content %}